@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 2em;
  transition: 0.2s;
  list-style: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.btn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}

.itemCheck {
  background-color: lightblue !important;
  text-decoration: line-through;
}